.about-top.text-center
  .h2.font-weight-bold.border-bottom.border-dark 業務をもっと簡単に

%section.mt-5{ style: "margin-bottom: 100px" }
  .row
    .col-sm-12.text-center
      .h2 ー Bistroworkとは ー
  
  .row.mb-3
    .col-sm-8.offset-2
      個人飲食店の在庫管理/発注業務を効率化し、日々の業務をより少ない労力で行えるようにします。<br>
      雑多な業務を効率的に行い、本業に注力するサポートをいたします。

%section{ style: "margin-bottom: 100px" }
  .row
    .col-sm-12.text-center
      .h2 ー Bistroworkの特徴 ー
  
  .row.mb-3
    .col-sm-8.offset-2
      .h5.font-weight-bold 1.無料で使える
      Bistroworkは、基本機能を無料で使用することができます。<br>
      食材の在庫管理に高価なハンディは必要ありません。また、紙やエクセルよりも効率的に業務を行うことができます。
  
  .row.mb-3
    .col-sm-8.offset-2
      .h5.font-weight-bold 2.在庫管理の効率化
      Bistroworkは、食材の在庫数をスマホで登録することができます。
  
  .row.mb-3
    .col-sm-8.offset-2
      .h5.font-weight-bold 3.発注業務の効率化
      Bistroworkは、食材ごとの最適な発注数を算出します。<br>
      頭の中で発注数を計算する必要はありません。

%section.mb-5
  .row
    .col-sm-12.text-center
      .h2 ー Bistroworkの使い方 ー
  
  .row.mb-3
    .col-sm-8.offset-2
      .h5.font-weight-bold 1.会員登録
      名前、メールアドレス、パスワードを入力し、アカウントを作成してください。

  .row.mb-3
    .col-sm-8.offset-2
      .h5.font-weight-bold 2.仕入先/食材登録
      次は、仕入先と食材の登録です。<br>
      食材を仕入れている業者やスーパー、仕入れている食材（食べ物、飲み物、調味料など）を登録してください。

  .row.mb-3
    .col-sm-8.offset-2
      .h5.font-weight-bold 3.最適在庫数設定
      次は、最適在庫数の登録です。<br>
      食材の最適な在庫数は、来客人数によって決まります。<br>
      Bistroworkでは、来客人数が異なる日付を4つのグループに分けているので、それぞれ最適な在庫数を登録してください。

  .row.mb-3
    .col-sm-8.offset-2
      .h5.font-weight-bold 4.在庫状況登録
      次は、在庫数の登録です。食材ごとの在庫数の登録を行ってください。

  .row.mb-3
    .col-sm-8.offset-2
      .h5.font-weight-bold 5.発注情報登録
      最後は発注数の確認/登録を行います。発注数欄に表示される値を元にして、発注を行っていただけます。