%nav.navbar.is-white.o-header
  .container
    .navbar-brand
      = link_to '飲食店画面', '#', class: 'navbar-item'
    .navbar-menu
      .navbar-end
        = button_to 'Logout', '#', method: :delete, class: 'navbar-item'
