%nav.navbar.navbar-expand-lg
  .navbar-brand
    = link_to '飲食店画面', '#', class: 'navbar-brand'
  %ul.navbar-nav.mr-auto
    -# %li.nav-item
    -#   = link_to 'example', '#', class: 'nav-link'
  = button_to 'Logout', '#', method: :delete, class: 'btn btn-outline-success'
